## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
# application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
# application_df.head()

ImportError: cannot import name 'DtypeArg' from 'pandas._typing' (c:\Users\INBA6454\Anaconda3\envs\PythonData\lib\site-packages\pandas\_typing.py)

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
new_application_df = application_df.drop(columns=['EIN','NAME'],axis=1)
new_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
new_application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
new_application_df['APPLICATION_TYPE']

0        T10
1         T3
2         T5
3         T3
4         T3
        ...
34294     T4
34295     T4
34296     T3
34297     T5
34298     T3
Name: APPLICATION_TYPE, Length: 34299, dtype: object

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
new_application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
application_types_list = new_application_df['APPLICATION_TYPE'].value_counts()
application_types_list[1]
# application_types_to_replace=[]
# application_types_to_replace =
# for i in range(lenght(application_types_list)):
#   if application_types_list[i] <500:

1542

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  Threshold set to 500

application_types_to_replace = application_types_list.loc[lambda x: x<500].index

# Replace in dataframe
for app in application_types_to_replace:
    new_application_df['APPLICATION_TYPE'] = new_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
new_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
classification_to_replace = new_application_df['CLASSIFICATION'].value_counts()
classification_to_replace

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  Threshold = 1000
classifications_to_replace = classification_to_replace.loc[lambda x: x<1000].index
# Replace in dataframe
for cls in classifications_to_replace:
    new_application_df['CLASSIFICATION'] = new_application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
new_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

cat_new_application_df = pd.get_dummies(new_application_df)
cat_new_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = cat_new_application_df['IS_SUCCESSFUL']

X = cat_new_application_df.drop(['IS_SUCCESSFUL'],axis=1)

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split (X,y, random_state = 69)
#  YOUR CODE GOES HERE

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
# Add our first Dense layer, including the input layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5763 - accuracy: 0.7187
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5586 - accuracy: 0.7260
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7289
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7290
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7301
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7308
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7321
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7327
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7314
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7331
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7311
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7324
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7336
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7330
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7348
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7343
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7346
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7345
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7347
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7341
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7360
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7356
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7355
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7360
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7369
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7355
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7360
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7364
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7358
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7357
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7359
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7357
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7375
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7367
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7373
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7385
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7370
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7373
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7366
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7373
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7369
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7378
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7381
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7372
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7375
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7384
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7372
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7371
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7371
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7383
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7369
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7374
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7383
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7378
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7380
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7387
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7391
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7380
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7386
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7381
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7371
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7364
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7397
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7383
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7388
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7386
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7383
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7383
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7388
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7378
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7374
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7380
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7374
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7385
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7391

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5547 - accuracy: 0.7327 - 470ms/epoch - 2ms/step
Loss: 0.5547217130661011, Accuracy: 0.7327113747596741

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('chanllenge21L2U180U230.h5')